<a href="https://colab.research.google.com/github/rajasreekalli/Data-Visualization/blob/main/A_L_E_Core.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
# Imports
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import r2_score
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [68]:
df = pd.read_csv('/content/drive/MyDrive/abalone.data')
header=None

In [69]:
df

      M  0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
0     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
1     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
2     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
3     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
4     I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.1200   8
...  ..    ...    ...    ...     ...     ...     ...     ...  ..
4171  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4176 rows x 9 columns]

In [70]:
df.columns = ['Length', 'Diameter', 'Height', 'whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Sex', 'Rings']

In [71]:
df

     Length  Diameter  Height  ...  Shell weight     Sex  Rings
0         M     0.350   0.265  ...        0.0485  0.0700      7
1         F     0.530   0.420  ...        0.1415  0.2100      9
2         M     0.440   0.365  ...        0.1140  0.1550     10
3         I     0.330   0.255  ...        0.0395  0.0550      7
4         I     0.425   0.300  ...        0.0775  0.1200      8
...     ...       ...     ...  ...           ...     ...    ...
4171      F     0.565   0.450  ...        0.2390  0.2490     11
4172      M     0.590   0.440  ...        0.2145  0.2605     10
4173      M     0.600   0.475  ...        0.2875  0.3080      9
4174      F     0.625   0.485  ...        0.2610  0.2960     10
4175      M     0.710   0.555  ...        0.3765  0.4950     12

[4176 rows x 9 columns]

In [72]:
 df.isnull().sum()

Length            0
Diameter          0
Height            0
whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Sex               0
Rings             0
dtype: int64

In [73]:
# 1)Separate your data into the features matrix (X) and target vector (y).
y = df['Rings']
X = df.drop(columns = ['Rings', 'Sex', 'Length'])

In [74]:
# 2) Create a train, test, split on the data. Please use random number 42 for consistency.

In [75]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [76]:
# 3) Make a pipeline to include the 1) column transformations and  a 2) and your linear regression model.
#For the column transformations:a) Use column_selector to select the categorical columns and the numerical columns

In [77]:
# The categorical selector was made in the last lesson
cat_selector = make_column_selector(dtype_include='object')
# make a numeric column selector
num_selector = make_column_selector(dtype_include='number')

In [78]:
median_imputer = SimpleImputer(strategy='median')
freq_imputer = SimpleImputer(strategy = 'most_frequent')
one_hot_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [79]:
#make tuples of a preprocessing object and a selector
#impute median of numeric columns
median_tuple = (median_imputer, num_selector)
#impute most frequent of categorical columns
freq_tuple = (freq_imputer, cat_selector)
#one-hot encode categorical columns
ohe_tuple = (one_hot_encoder, cat_selector)

In [80]:
#instantiate column transformer
#give it the steps in the order to apply them.
column_transformer = make_column_transformer(median_tuple, freq_tuple, ohe_tuple)

In [81]:
column_transformer.fit(X_train)

ColumnTransformer(transformers=[('simpleimputer-1',
                                 SimpleImputer(strategy='median'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f1f386d1fd0>),
                                ('simpleimputer-2',
                                 SimpleImputer(strategy='most_frequent'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f1f386d1110>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore',
                                               sparse=False),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f1f386d1110>)])

In [82]:
X_train_processed = column_transformer.transform(X_train)
X_test_processed = column_transformer.transform(X_test)
X_train_processed

array([[0.34  , 0.255 , 0.095 , 0.213 , 0.081 , 0.034 ],
       [0.62  , 0.46  , 0.17  , 1.127 , 0.535 , 0.2635],
       [0.555 , 0.44  , 0.155 , 1.016 , 0.4935, 0.1855],
       ...,
       [0.52  , 0.43  , 0.15  , 0.728 , 0.302 , 0.1575],
       [0.575 , 0.46  , 0.15  , 0.927 , 0.333 , 0.207 ],
       [0.595 , 0.465 , 0.14  , 1.113 , 0.5175, 0.244 ]])

In [83]:
# Instantiate Transformers
scaler = StandardScaler()
# Make Pipelines for each column type
num_pipe = make_pipeline(median_imputer, scaler)
cat_pipe = make_pipeline(freq_imputer, ohe_encoder)
# Match pipe to column
num_tuple = (num_pipe, num_selector)
cat_tuple = (cat_pipe, cat_selector)
# Make column Transformer
column_transformer = make_column_transformer(num_tuple, cat_tuple)

In [84]:
lin_reg = LinearRegression()
# Create a pipeline with the column transformer and the linear regression model
lin_reg_pipe = make_pipeline(column_transformer, lin_reg)

In [85]:
imputer = SimpleImputer(strategy='mean')
# combine into a pipeline
pipe = make_pipeline(imputer, lin_reg)

In [86]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('simpleimputer', SimpleImputer()),
                ('linearregression', LinearRegression())])

In [87]:
print(f'Train R2: {r2_score(y_train, pipe.predict(X_train))}')
print(f'Test R2: {r2_score(y_test, pipe.predict(X_test))}')

Train R2: 0.5084165533674734
Test R2: 0.5527176950413936