<a href="https://colab.research.google.com/github/rajasreekalli/Data-Visualization/blob/main/Abalone_Linear_Regression_Exercise(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [107]:
import pandas as pd
import numpy as np

In [108]:
df = pd.read_csv('/content/drive/MyDrive/abalone.data')
df

      M  0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
0     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
1     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
2     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
3     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
4     I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.1200   8
...  ..    ...    ...    ...     ...     ...     ...     ...  ..
4171  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4176 rows x 9 columns]

In [109]:
df.isnull().sum()

M         0
0.455     0
0.365     0
0.095     0
0.514     0
0.2245    0
0.101     0
0.15      0
15        0
dtype: int64

In [110]:
df = {'Length': [0.455, 0.350, 0.530, 0.440, 0.330, 0.425],
        'Diameter' : [0.365, 0.265, 0.420, 0.365, 0.255, 0.300],
        'Height' : [0.095, 0.090, 0.135, 0.125, 0.080, 0.095],
        'Whole weight' : [0.512, 0.2255, 0.6770, 0.5160, 0.2050, 0.3515],
        'Shucked weight' : [0.2245, 0.0995, 0.2565, 0.2155, 0.0895, 0.1410],
        'Viscera weight' : [0.101, 0.0485, 0.1415, 0.1140, 0.0395, 0.0775],
        'Shell weight' : [0.15, 0.070, 0.210, 0.155, 0.055, 0.120],
        'Sex' : ['m', 'm', 'f', 'm', 'i', 'i'],
        'Age' : [16.5, 8.5, 10.5, 11.5, 8.5, 9.5],
        'Rings' : [15, 7, 9, 10, 7, 8]}
df = pd.DataFrame(df)
df

   Length  Diameter  Height  Whole weight  ...  Shell weight  Sex   Age Rings
0   0.455     0.365   0.095        0.5120  ...         0.150    m  16.5    15
1   0.350     0.265   0.090        0.2255  ...         0.070    m   8.5     7
2   0.530     0.420   0.135        0.6770  ...         0.210    f  10.5     9
3   0.440     0.365   0.125        0.5160  ...         0.155    m  11.5    10
4   0.330     0.255   0.080        0.2050  ...         0.055    i   8.5     7
5   0.425     0.300   0.095        0.3515  ...         0.120    i   9.5     8

[6 rows x 10 columns]

In [111]:
# 1)Separate your data into the features matrix (X) and target vector (y).
y = df['Rings']
X = df.drop(columns = ['Rings', 'Sex'])

In [112]:
# 2) Create a train, test, split on the data. Please use random number 42 for consistency.
from sklearn.model_selection import train_test_split

In [113]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [114]:
# 3) Make a pipeline to include the 1) column transformations and  a 2) and your linear regression model.
#For the column transformations:a) Use column_selector to select the categorical columns and the numerical columns
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import r2_score
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder

In [115]:
# The categorical selector was made in the last lesson
cat_selector = make_column_selector(dtype_include='object')
# make a numeric column selector
num_selector = make_column_selector(dtype_include='number')

In [116]:
median_imputer = SimpleImputer(strategy='median')
freq_imputer = SimpleImputer(strategy = 'most_frequent')
one_hot_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [117]:
#make tuples of a preprocessing object and a selector
#impute median of numeric columns
median_tuple = (median_imputer, num_selector)
#impute most frequent of categorical columns
freq_tuple = (freq_imputer, cat_selector)
#one-hot encode categorical columns
ohe_tuple = (one_hot_encoder, cat_selector)

In [118]:
from sklearn.compose import make_column_transformer
#instantiate column transformer
#give it the steps in the order to apply them.
column_transformer = make_column_transformer(median_tuple, freq_tuple, ohe_tuple)

In [119]:
column_transformer.fit(X_train)

ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('simpleimputer-1',
                                 SimpleImputer(add_indicator=False, copy=True,
                                               fill_value=None,
                                               missing_values=nan,
                                               strategy='median', verbose=0),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fca5df576d0>),
                                ('simpleimputer-2',
                                 SimpleImputer(a...
                                               missing_values=nan,
                                               strategy='most_frequent',
                                               verbose=0),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fca5df57350>),
                                ('onehotencoder',
                                 OneHotEncoder(categories='auto', drop=None,
                                               dtype=<class 'numpy.float64'>,
                                               handle_unknown='ignore',
                                               sparse=False),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fca5df57350>)],
                  verbose=False)

In [120]:
X_train_processed = column_transformer.transform(X_train)
X_test_processed = column_transformer.transform(X_test)
X_train_processed

array([[ 0.425 ,  0.3   ,  0.095 ,  0.3515,  0.141 ,  0.0775,  0.12  ,
         9.5   ],
       [ 0.53  ,  0.42  ,  0.135 ,  0.677 ,  0.2565,  0.1415,  0.21  ,
        10.5   ],
       [ 0.33  ,  0.255 ,  0.08  ,  0.205 ,  0.0895,  0.0395,  0.055 ,
         8.5   ],
       [ 0.44  ,  0.365 ,  0.125 ,  0.516 ,  0.2155,  0.114 ,  0.155 ,
        11.5   ]])

In [121]:
# instantiate imputer and regression estimator
imputer = SimpleImputer(strategy='mean')
lin_reg = LinearRegression()
# combine into a pipeline
pipe = make_pipeline(imputer, lin_reg)

In [122]:
pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('simpleimputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [123]:
print(f'Train R2: {r2_score(y_train, pipe.predict(X_train))}')
print(f'Test R2: {r2_score(y_test, pipe.predict(X_test))}')

Train R2: 1.0
Test R2: 0.9999999817735146

In [124]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [125]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [126]:
train_score = reg.score(X_train, y_train)
print(train_score)

1.0

In [127]:
test_score = reg.score(X_test, y_test)
print(test_score)

0.9999999817735146