<a href="https://colab.research.google.com/github/rajasreekalli/Data-Visualization/blob/main/F_M.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.linear_model import LinearRegression

In [5]:
df = pd.read_csv('/content/drive/MyDrive/insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
df.duplicated().any()

True

In [8]:
df= df.drop_duplicates()

In [9]:
X = df.drop(columns='charges')
y= df['charges']

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 42)

In [11]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
cat_sel = make_column_selector(dtype_include='object')

In [13]:
cat_data = X_train[cat_sel(X_train)]

In [14]:
cat_data

         sex smoker     region
763     male     no  northeast
1079    male     no  southeast
178   female     no  southwest
287   female     no  northwest
1290  female     no  northeast
...      ...    ...        ...
1096  female    yes  northeast
1131    male     no  southwest
1295    male     no  southwest
861   female     no  southwest
1127  female     no  southeast

[1002 rows x 3 columns]

In [15]:
On_encode = OneHotEncoder(sparse = False,handle_unknown = 'ignore')
On_encode.fit(cat_data)
cat_on = On_encode.transform(cat_data)

In [16]:
cat_on

array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [1., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 1., 1., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 1., 0.]])

In [17]:
pd.DataFrame(cat_on,columns=On_encode.get_feature_names(cat_data.columns))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      sex_female  sex_male  ...  region_southeast  region_southwest
0            0.0       1.0  ...               0.0               0.0
1            0.0       1.0  ...               1.0               0.0
2            1.0       0.0  ...               0.0               1.0
3            1.0       0.0  ...               0.0               0.0
4            1.0       0.0  ...               0.0               0.0
...          ...       ...  ...               ...               ...
997          1.0       0.0  ...               0.0               0.0
998          0.0       1.0  ...               0.0               1.0
999          0.0       1.0  ...               0.0               1.0
1000         1.0       0.0  ...               0.0               1.0
1001         1.0       0.0  ...               1.0               0.0

[1002 rows x 8 columns]

In [18]:
ohe_tuple = (On_encode,cat_sel)

In [19]:
column_transformer = make_column_transformer(ohe_tuple)

In [20]:
column_transformer.fit(X_train)

ColumnTransformer(transformers=[('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore',
                                               sparse=False),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fb67e800fd0>)])

In [21]:
X_train_process = column_transformer.transform(X_train)
X_test_process = column_transformer.transform(X_test)

In [22]:
reg = LinearRegression()

In [23]:
reg.fit(X_train_process,y_train)

LinearRegression()

In [24]:
train_score = reg.score(X_train_process,y_train)
train_score

0.6030715284442776

In [25]:
test_score = reg.score(X_test_process,y_test)
test_score

0.6557249257410188