<a href="https://colab.research.google.com/github/rajasreekalli/Data-Visualization/blob/main/Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Tweets.csv')
df

                 tweet_id  ...               user_timezone
0      570306133677760513  ...  Eastern Time (US & Canada)
1      570301130888122368  ...  Pacific Time (US & Canada)
2      570301083672813571  ...  Central Time (US & Canada)
3      570301031407624196  ...  Pacific Time (US & Canada)
4      570300817074462722  ...  Pacific Time (US & Canada)
...                   ...  ...                         ...
14635  569587686496825344  ...                         NaN
14636  569587371693355008  ...                         NaN
14637  569587242672398336  ...                         NaN
14638  569587188687634433  ...  Eastern Time (US & Canada)
14639  569587140490866689  ...                         NaN

[14640 rows x 15 columns]

In [3]:
df.dtypes

tweet_id                          int64
airline_sentiment                object
airline_sentiment_confidence    float64
negativereason                   object
negativereason_confidence       float64
airline                          object
airline_sentiment_gold           object
name                             object
negativereason_gold              object
retweet_count                     int64
text                             object
tweet_coord                      object
tweet_created                    object
tweet_location                   object
user_timezone                    object
dtype: object

In [4]:
df.duplicated().any()

True

In [5]:
df[df.duplicated(keep = False)]

                 tweet_id  ...                user_timezone
11879  570308309682675712  ...                        Quito
11898  570305051819941889  ...                        Quito
11902  570303383782989824  ...  Mountain Time (US & Canada)
11905  570301929580048385  ...       Atlantic Time (Canada)
11907  570301395141836801  ...   Central Time (US & Canada)
...                   ...  ...                          ...
12155  570275010759102466  ...                          NaN
12157  570273819287531520  ...   Central Time (US & Canada)
12158  570273710210469888  ...   Eastern Time (US & Canada)
12159  570272880556011520  ...   Eastern Time (US & Canada)
12162  570272018840428544  ...  Mountain Time (US & Canada)

[72 rows x 15 columns]

In [6]:
df.drop_duplicates(inplace = True)

In [7]:
print('Missing data:\n', df.isna().sum())
print('\n')
print('Duplicates:', df.duplicated().sum())

Missing data:
 tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5445
negativereason_confidence        4101
airline                             0
airline_sentiment_gold          14564
name                                0
negativereason_gold             14572
retweet_count                       0
text                                0
tweet_coord                     13589
tweet_created                       0
tweet_location                   4723
user_timezone                    4814
dtype: int64


Duplicates: 0

In [8]:
address_missing=df.loc[0:14640,:].fillna(method='ffill')
print(address_missing)

                 tweet_id  ...               user_timezone
0      570306133677760513  ...  Eastern Time (US & Canada)
1      570301130888122368  ...  Pacific Time (US & Canada)
2      570301083672813571  ...  Central Time (US & Canada)
3      570301031407624196  ...  Pacific Time (US & Canada)
4      570300817074462722  ...  Pacific Time (US & Canada)
...                   ...  ...                         ...
14635  569587686496825344  ...                       Quito
14636  569587371693355008  ...                       Quito
14637  569587242672398336  ...                       Quito
14638  569587188687634433  ...  Eastern Time (US & Canada)
14639  569587140490866689  ...  Eastern Time (US & Canada)

[14604 rows x 15 columns]

In [9]:
final_missing = address_missing.isna()
print(final_missing.sum())

tweet_id                           0
airline_sentiment                  0
airline_sentiment_confidence       0
negativereason                     3
negativereason_confidence          1
airline                            0
airline_sentiment_gold          1286
name                               0
negativereason_gold             1286
retweet_count                      0
text                               0
tweet_coord                       21
tweet_created                      0
tweet_location                     2
user_timezone                      0
dtype: int64

In [10]:
data_missing = final_missing.isna()
print(data_missing.sum())

tweet_id                        0
airline_sentiment               0
airline_sentiment_confidence    0
negativereason                  0
negativereason_confidence       0
airline                         0
airline_sentiment_gold          0
name                            0
negativereason_gold             0
retweet_count                   0
text                            0
tweet_coord                     0
tweet_created                   0
tweet_location                  0
user_timezone                   0
dtype: int64

In [11]:
drop_columns = df.drop(columns=['airline_sentiment_gold', 'negativereason_gold', 'tweet_coord'])

In [12]:
X = df.drop(columns='tweet_created')
y = df['tweet_created']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100)

In [18]:
dec_tree = DecisionTreeRegressor(random_state = 42)
dec_tree

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=42, splitter='best')