<a href="https://colab.research.google.com/github/rajasreekalli/Data-Visualization/blob/main/Neural_Network_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# Imports

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_selector,make_column_transformer
import tensorflow.keras as keras
from keras.models import Sequential
from keras.layers import Dense

In [5]:
# Read the file

df = pd.read_csv('/content/drive/MyDrive/train1.csv')
df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [6]:
# Identify the data type

df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
# Identify the null values

df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
df = df.drop(columns='Cabin')

This Cabin column contain more than 50% null values. So i prefer to choose drop the column. So that's the reason i can't use the simple imputer.

In [9]:
df.dropna(subset=['Embarked'],inplace=True)

In [10]:
df.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Embarked       False
dtype: bool

In [11]:
# Check for the duplicates

df.duplicated().any()

False

In [12]:
# Check for Unique values

df['Sex'].value_counts()

male      577
female    312
Name: Sex, dtype: int64

In [13]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [14]:
# Identify the feature matrics and target vector

X= df.drop(columns={'Survived','Name'})
y = df['Survived']

In [15]:
# Train test split

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)

In [16]:
#X_train = np.asarray(X_train).astype(np.float32)
#y_train = np.asarray(y_train).astype(np.float32)

In [17]:
# Scale the data

scalar = StandardScaler()
impute = SimpleImputer(strategy='median')

In [19]:
ohe = OneHotEncoder(sparse=False,handle_unknown='ignore')
num_column = make_column_selector(dtype_include='number')
cat_column = make_column_selector(dtype_include='object')
num_pipe = make_pipeline(impute,scalar)
num_tuple = (num_pipe,num_column)
ohe_tuple = (ohe,cat_column)
column_transform = make_column_transformer(num_tuple,ohe_tuple)

In [20]:
X_trainpro = column_transform.fit_transform(X_train)
X_testpro  = column_transform.transform(X_test)

In [22]:
# Build your model
# Create your model

n_col = X_trainpro.shape[1]
model = Sequential()
model.add(Dense(10,activation='relu',input_dim = X_trainpro.shape[1]))
model.add(Dense(10,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [26]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['acc'])

In [27]:
# Fit the model

history = model.fit(X_trainpro,y_train,validation_data=(X_testpro,y_test),epochs=100)

Epoch 1/100
21/21 [==============================] - 1s 10ms/step - loss: 0.6847 - acc: 0.5796 - val_loss: 0.6713 - val_acc: 0.7623
Epoch 2/100
21/21 [==============================] - 0s 3ms/step - loss: 0.6654 - acc: 0.7508 - val_loss: 0.6517 - val_acc: 0.7892
Epoch 3/100
21/21 [==============================] - 0s 3ms/step - loss: 0.6437 - acc: 0.7688 - val_loss: 0.6278 - val_acc: 0.7848
Epoch 4/100
21/21 [==============================] - 0s 3ms/step - loss: 0.6157 - acc: 0.7928 - val_loss: 0.5985 - val_acc: 0.8027
Epoch 5/100
21/21 [==============================] - 0s 4ms/step - loss: 0.5818 - acc: 0.8063 - val_loss: 0.5632 - val_acc: 0.7848
Epoch 6/100
21/21 [==============================] - 0s 3ms/step - loss: 0.5413 - acc: 0.8198 - val_loss: 0.5263 - val_acc: 0.8117
Epoch 7/100
21/21 [==============================] - 0s 3ms/step - loss: 0.4975 - acc: 0.8348 - val_loss: 0.4896 - val_acc: 0.8027
Epoch 8/100
21/21 [==============================] - 0s 3ms/step - loss: 0.4529 - acc: 0.8514 - val_loss: 0.4598 - val_acc: 0.8027
Epoch 9/100
21/21 [==============================] - 0s 3ms/step - loss: 0.4126 - acc: 0.8619 - val_loss: 0.4425 - val_acc: 0.8206
Epoch 10/100
21/21 [==============================] - 0s 3ms/step - loss: 0.3797 - acc: 0.8649 - val_loss: 0.4296 - val_acc: 0.8206
Epoch 11/100
21/21 [==============================] - 0s 3ms/step - loss: 0.3518 - acc: 0.8739 - val_loss: 0.4218 - val_acc: 0.8251
Epoch 12/100
21/21 [==============================] - 0s 3ms/step - loss: 0.3295 - acc: 0.8799 - val_loss: 0.4247 - val_acc: 0.8251
Epoch 13/100
21/21 [==============================] - 0s 3ms/step - loss: 0.3084 - acc: 0.8904 - val_loss: 0.4210 - val_acc: 0.8251
Epoch 14/100
21/21 [==============================] - 0s 3ms/step - loss: 0.2891 - acc: 0.8979 - val_loss: 0.4207 - val_acc: 0.8206
Epoch 15/100
21/21 [==============================] - 0s 3ms/step - loss: 0.2702 - acc: 0.9039 - val_loss: 0.4269 - val_acc: 0.8161
Epoch 16/100
21/21 [==============================] - 0s 3ms/step - loss: 0.2518 - acc: 0.9144 - val_loss: 0.4251 - val_acc: 0.8117
Epoch 17/100
21/21 [==============================] - 0s 3ms/step - loss: 0.2329 - acc: 0.9249 - val_loss: 0.4298 - val_acc: 0.8072
Epoch 18/100
21/21 [==============================] - 0s 4ms/step - loss: 0.2133 - acc: 0.9384 - val_loss: 0.4317 - val_acc: 0.8072
Epoch 19/100
21/21 [==============================] - 0s 3ms/step - loss: 0.1954 - acc: 0.9444 - val_loss: 0.4353 - val_acc: 0.8117
Epoch 20/100
21/21 [==============================] - 0s 3ms/step - loss: 0.1773 - acc: 0.9520 - val_loss: 0.4423 - val_acc: 0.8117
Epoch 21/100
21/21 [==============================] - 0s 3ms/step - loss: 0.1605 - acc: 0.9565 - val_loss: 0.4437 - val_acc: 0.8027
Epoch 22/100
21/21 [==============================] - 0s 3ms/step - loss: 0.1436 - acc: 0.9595 - val_loss: 0.4565 - val_acc: 0.8117
Epoch 23/100
21/21 [==============================] - 0s 3ms/step - loss: 0.1281 - acc: 0.9640 - val_loss: 0.4560 - val_acc: 0.8161
Epoch 24/100
21/21 [==============================] - 0s 3ms/step - loss: 0.1131 - acc: 0.9700 - val_loss: 0.4676 - val_acc: 0.8072
Epoch 25/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0979 - acc: 0.9760 - val_loss: 0.4749 - val_acc: 0.8117
Epoch 26/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0862 - acc: 0.9835 - val_loss: 0.4833 - val_acc: 0.8206
Epoch 27/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0758 - acc: 0.9850 - val_loss: 0.4858 - val_acc: 0.8161
Epoch 28/100
21/21 [==============================] - 0s 2ms/step - loss: 0.0665 - acc: 0.9910 - val_loss: 0.5042 - val_acc: 0.8161
Epoch 29/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0589 - acc: 0.9940 - val_loss: 0.5046 - val_acc: 0.8206
Epoch 30/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0521 - acc: 0.9970 - val_loss: 0.5140 - val_acc: 0.8206
Epoch 31/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0468 - acc: 0.9985 - val_loss: 0.5226 - val_acc: 0.8206
Epoch 32/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0420 - acc: 0.9985 - val_loss: 0.5331 - val_acc: 0.8206
Epoch 33/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0379 - acc: 0.9985 - val_loss: 0.5327 - val_acc: 0.8206
Epoch 34/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0343 - acc: 0.9985 - val_loss: 0.5455 - val_acc: 0.8251
Epoch 35/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0315 - acc: 0.9985 - val_loss: 0.5454 - val_acc: 0.8251
Epoch 36/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0293 - acc: 0.9985 - val_loss: 0.5581 - val_acc: 0.8251
Epoch 37/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0269 - acc: 0.9985 - val_loss: 0.5642 - val_acc: 0.8251
Epoch 38/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0247 - acc: 0.9985 - val_loss: 0.5679 - val_acc: 0.8206
Epoch 39/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0232 - acc: 0.9985 - val_loss: 0.5742 - val_acc: 0.8251
Epoch 40/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0220 - acc: 0.9985 - val_loss: 0.5844 - val_acc: 0.8251
Epoch 41/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0203 - acc: 0.9985 - val_loss: 0.5943 - val_acc: 0.8251
Epoch 42/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0189 - acc: 0.9985 - val_loss: 0.5914 - val_acc: 0.8206
Epoch 43/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0180 - acc: 0.9985 - val_loss: 0.5961 - val_acc: 0.8161
Epoch 44/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0172 - acc: 0.9985 - val_loss: 0.6029 - val_acc: 0.8251
Epoch 45/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0163 - acc: 0.9985 - val_loss: 0.6070 - val_acc: 0.8251
Epoch 46/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0156 - acc: 0.9985 - val_loss: 0.6157 - val_acc: 0.8251
Epoch 47/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0148 - acc: 0.9985 - val_loss: 0.6233 - val_acc: 0.8206
Epoch 48/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0143 - acc: 0.9985 - val_loss: 0.6286 - val_acc: 0.8251
Epoch 49/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0136 - acc: 0.9985 - val_loss: 0.6240 - val_acc: 0.8206
Epoch 50/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0131 - acc: 0.9985 - val_loss: 0.6308 - val_acc: 0.8206
Epoch 51/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0127 - acc: 0.9985 - val_loss: 0.6467 - val_acc: 0.8251
Epoch 52/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0122 - acc: 0.9985 - val_loss: 0.6383 - val_acc: 0.8251
Epoch 53/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0123 - acc: 0.9970 - val_loss: 0.6603 - val_acc: 0.8251
Epoch 54/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0115 - acc: 0.9985 - val_loss: 0.6490 - val_acc: 0.8206
Epoch 55/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0110 - acc: 0.9985 - val_loss: 0.6612 - val_acc: 0.8206
Epoch 56/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0108 - acc: 0.9970 - val_loss: 0.6662 - val_acc: 0.8206
Epoch 57/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0105 - acc: 0.9970 - val_loss: 0.6690 - val_acc: 0.8206
Epoch 58/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0100 - acc: 0.9985 - val_loss: 0.6737 - val_acc: 0.8161
Epoch 59/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0097 - acc: 0.9985 - val_loss: 0.6757 - val_acc: 0.8206
Epoch 60/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0095 - acc: 0.9985 - val_loss: 0.6792 - val_acc: 0.8206
Epoch 61/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0093 - acc: 0.9985 - val_loss: 0.6908 - val_acc: 0.8117
Epoch 62/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0093 - acc: 0.9985 - val_loss: 0.6864 - val_acc: 0.8251
Epoch 63/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0088 - acc: 0.9970 - val_loss: 0.6995 - val_acc: 0.8161
Epoch 64/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0089 - acc: 0.9985 - val_loss: 0.6940 - val_acc: 0.8206
Epoch 65/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0085 - acc: 0.9970 - val_loss: 0.7116 - val_acc: 0.8117
Epoch 66/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0083 - acc: 0.9985 - val_loss: 0.6996 - val_acc: 0.8296
Epoch 67/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0081 - acc: 0.9985 - val_loss: 0.7106 - val_acc: 0.8161
Epoch 68/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0081 - acc: 0.9985 - val_loss: 0.7151 - val_acc: 0.8161
Epoch 69/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0079 - acc: 0.9970 - val_loss: 0.7261 - val_acc: 0.8161
Epoch 70/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0079 - acc: 0.9985 - val_loss: 0.7158 - val_acc: 0.8206
Epoch 71/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0074 - acc: 0.9985 - val_loss: 0.7305 - val_acc: 0.8161
Epoch 72/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0075 - acc: 0.9970 - val_loss: 0.7290 - val_acc: 0.8251
Epoch 73/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0076 - acc: 0.9985 - val_loss: 0.7284 - val_acc: 0.8206
Epoch 74/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0071 - acc: 0.9985 - val_loss: 0.7377 - val_acc: 0.8161
Epoch 75/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0069 - acc: 0.9985 - val_loss: 0.7485 - val_acc: 0.8161
Epoch 76/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0069 - acc: 0.9985 - val_loss: 0.7434 - val_acc: 0.8251
Epoch 77/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0068 - acc: 0.9970 - val_loss: 0.7537 - val_acc: 0.8206
Epoch 78/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0068 - acc: 0.9985 - val_loss: 0.7477 - val_acc: 0.8206
Epoch 79/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0066 - acc: 0.9970 - val_loss: 0.7565 - val_acc: 0.8161
Epoch 80/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0069 - acc: 0.9985 - val_loss: 0.7532 - val_acc: 0.8206
Epoch 81/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0065 - acc: 0.9985 - val_loss: 0.7619 - val_acc: 0.8206
Epoch 82/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0065 - acc: 0.9970 - val_loss: 0.7718 - val_acc: 0.8161
Epoch 83/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0066 - acc: 0.9970 - val_loss: 0.7630 - val_acc: 0.8206
Epoch 84/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0060 - acc: 0.9985 - val_loss: 0.7750 - val_acc: 0.8206
Epoch 85/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0060 - acc: 0.9970 - val_loss: 0.7799 - val_acc: 0.8206
Epoch 86/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0059 - acc: 0.9970 - val_loss: 0.7767 - val_acc: 0.8206
Epoch 87/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0060 - acc: 0.9985 - val_loss: 0.7800 - val_acc: 0.8206
Epoch 88/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0060 - acc: 0.9970 - val_loss: 0.7939 - val_acc: 0.8161
Epoch 89/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0062 - acc: 0.9985 - val_loss: 0.7783 - val_acc: 0.8206
Epoch 90/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0064 - acc: 0.9970 - val_loss: 0.8025 - val_acc: 0.8161
Epoch 91/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0060 - acc: 0.9985 - val_loss: 0.7859 - val_acc: 0.8206
Epoch 92/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0053 - acc: 0.9985 - val_loss: 0.8011 - val_acc: 0.8206
Epoch 93/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0062 - acc: 0.9970 - val_loss: 0.8121 - val_acc: 0.8161
Epoch 94/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0054 - acc: 0.9970 - val_loss: 0.7994 - val_acc: 0.8251
Epoch 95/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0054 - acc: 0.9985 - val_loss: 0.8025 - val_acc: 0.8206
Epoch 96/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0053 - acc: 0.9985 - val_loss: 0.8082 - val_acc: 0.8206
Epoch 97/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0053 - acc: 0.9970 - val_loss: 0.8180 - val_acc: 0.8161
Epoch 98/100
21/21 [==============================] - 0s 4ms/step - loss: 0.0055 - acc: 0.9970 - val_loss: 0.8164 - val_acc: 0.8206
Epoch 99/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0053 - acc: 0.9985 - val_loss: 0.8132 - val_acc: 0.8251
Epoch 100/100
21/21 [==============================] - 0s 3ms/step - loss: 0.0051 - acc: 0.9985 - val_loss: 0.8284 - val_acc: 0.8161

In [30]:
# Read the file

data = pd.read_csv('/content/test1.csv')
data

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [31]:
# Checking for the data types

data.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [33]:
# Checking for null values

data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [35]:
x = data.drop(columns={'Cabin','Name'})

In [36]:
x_score = column_transform.transform(x)

In [37]:
#n_col = x_score.shape[1]
#model1 = Sequential()
#model1.add(Dense(10,activation='relu',input_dim = x_score.shape[1]))
#model1.add(Dense(10,activation='relu'))
#model1.add(Dense(1,activation='sigmoid'))

In [38]:
#model1.compile(optimizer='adam',loss='binary_crossentropy',metrics=['acc'])

In [39]:
preds  = np.rint(model.predict(x_score))

In [40]:
#preds = np.reshape(preds,(1, preds.size))

In [41]:
preds.shape

(418, 1)

In [42]:
final_preds = np.concatenate(preds)

In [43]:
submit = pd.DataFrame({'PassengerId': x['PassengerId'].values,'Survived': final_preds})

In [44]:
submit.head()

   PassengerId  Survived
0          892       0.0
1          893       1.0
2          894       0.0
3          895       0.0
4          896       1.0

In [45]:
submit.to_csv('submission.csv', index = False)