<a href="https://colab.research.google.com/github/rajasreekalli/Data-Visualization/blob/main/New_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

In [73]:
df = pd.read_csv('/content/drive/MyDrive/Tweets.csv')
df

                 tweet_id  ...               user_timezone
0      570306133677760513  ...  Eastern Time (US & Canada)
1      570301130888122368  ...  Pacific Time (US & Canada)
2      570301083672813571  ...  Central Time (US & Canada)
3      570301031407624196  ...  Pacific Time (US & Canada)
4      570300817074462722  ...  Pacific Time (US & Canada)
...                   ...  ...                         ...
14635  569587686496825344  ...                         NaN
14636  569587371693355008  ...                         NaN
14637  569587242672398336  ...                         NaN
14638  569587188687634433  ...  Eastern Time (US & Canada)
14639  569587140490866689  ...                         NaN

[14640 rows x 15 columns]

In [74]:
# 2) Brief description of data

df.dtypes

tweet_id                          int64
airline_sentiment                object
airline_sentiment_confidence    float64
negativereason                   object
negativereason_confidence       float64
airline                          object
airline_sentiment_gold           object
name                             object
negativereason_gold              object
retweet_count                     int64
text                             object
tweet_coord                      object
tweet_created                    object
tweet_location                   object
user_timezone                    object
dtype: object

In [75]:
df.duplicated().any()

True

In [76]:
df[df.duplicated(keep = False)]

                 tweet_id  ...                user_timezone
11879  570308309682675712  ...                        Quito
11898  570305051819941889  ...                        Quito
11902  570303383782989824  ...  Mountain Time (US & Canada)
11905  570301929580048385  ...       Atlantic Time (Canada)
11907  570301395141836801  ...   Central Time (US & Canada)
...                   ...  ...                          ...
12155  570275010759102466  ...                          NaN
12157  570273819287531520  ...   Central Time (US & Canada)
12158  570273710210469888  ...   Eastern Time (US & Canada)
12159  570272880556011520  ...   Eastern Time (US & Canada)
12162  570272018840428544  ...  Mountain Time (US & Canada)

[72 rows x 15 columns]

In [77]:
df.drop_duplicates(inplace = True)

In [78]:
print('Missing data:\n', df.isna().sum())
print('\n')
print('Duplicates:', df.duplicated().sum())

Missing data:
 tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5445
negativereason_confidence        4101
airline                             0
airline_sentiment_gold          14564
name                                0
negativereason_gold             14572
retweet_count                       0
text                                0
tweet_coord                     13589
tweet_created                       0
tweet_location                   4723
user_timezone                    4814
dtype: int64


Duplicates: 0

In [79]:
address_missing=df.loc[0:14640,:].fillna(method='ffill')
print(address_missing)

                 tweet_id  ...               user_timezone
0      570306133677760513  ...  Eastern Time (US & Canada)
1      570301130888122368  ...  Pacific Time (US & Canada)
2      570301083672813571  ...  Central Time (US & Canada)
3      570301031407624196  ...  Pacific Time (US & Canada)
4      570300817074462722  ...  Pacific Time (US & Canada)
...                   ...  ...                         ...
14635  569587686496825344  ...                       Quito
14636  569587371693355008  ...                       Quito
14637  569587242672398336  ...                       Quito
14638  569587188687634433  ...  Eastern Time (US & Canada)
14639  569587140490866689  ...  Eastern Time (US & Canada)

[14604 rows x 15 columns]

In [80]:
final_missing = address_missing.isna()
print(final_missing.sum())

tweet_id                           0
airline_sentiment                  0
airline_sentiment_confidence       0
negativereason                     3
negativereason_confidence          1
airline                            0
airline_sentiment_gold          1286
name                               0
negativereason_gold             1286
retweet_count                      0
text                               0
tweet_coord                       21
tweet_created                      0
tweet_location                     2
user_timezone                      0
dtype: int64

In [81]:
data_missing = final_missing.isna()
print(data_missing.sum())

tweet_id                        0
airline_sentiment               0
airline_sentiment_confidence    0
negativereason                  0
negativereason_confidence       0
airline                         0
airline_sentiment_gold          0
name                            0
negativereason_gold             0
retweet_count                   0
text                            0
tweet_coord                     0
tweet_created                   0
tweet_location                  0
user_timezone                   0
dtype: int64

In [82]:
drop_columns = df.drop(columns=['airline_sentiment_gold', 'negativereason_gold', 'tweet_coord'])

In [83]:
# 3) What is the target?

X = df.drop(columns='tweet_created')
y = df['tweet_created']

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100)

In [85]:
# 4) Is this a classification or regression problem?

I think it is a regression problem

In [86]:
# 5) How many features?

features = {'tweet_id', 'airline_sentiment', 'airline_sentiment_confidence', 'negativereason', 'negativereason_confidence', 'airline', 'name', 'retweet_count', 'text', 'tweet_location', 'user_timezone'}

In [87]:
len(features)

11

In [88]:
# 6) How many rows of data.
df.shape

(14604, 15)

In [92]:
# 7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

 I anticipate the cleaning is the main challenge in any dataset. So i gave first position to cleaning.

In [93]:
df_2 = pd.read_csv('/content/drive/MyDrive/heart.csv')
df_2

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0     40   M           ATA  ...      0.0        Up             0
1     49   F           NAP  ...      1.0      Flat             1
2     37   M           ATA  ...      0.0        Up             0
3     48   F           ASY  ...      1.5      Flat             1
4     54   M           NAP  ...      0.0        Up             0
..   ...  ..           ...  ...      ...       ...           ...
913   45   M            TA  ...      1.2      Flat             1
914   68   M           ASY  ...      3.4      Flat             1
915   57   M           ASY  ...      1.2      Flat             1
916   57   F           ATA  ...      0.0      Flat             1
917   38   M           NAP  ...      0.0        Up             0

[918 rows x 12 columns]

In [94]:
# 2) Brief description of data

df_2.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [98]:
df_2.duplicated().any()

False

In [99]:
print('Missing data:\n', df_2.isna().sum())
print('\n')
print('Duplicates:', df_2.duplicated().sum())

Missing data:
 Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64


Duplicates: 0

In [103]:
df_2['HeartDisease'].value_counts()

1    508
0    410
Name: HeartDisease, dtype: int64

In [104]:
# 3) What is the target?

X = df_2.drop(columns='HeartDisease')
y = df_2['HeartDisease']

In [105]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100)

In [ ]:
# 4) Is this a classification or regression problem?

This is a clasiification problem.

In [106]:
# 5) How many features?

features_2 = {'Age', ' Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS', 'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope'}

In [107]:
len(features_2)

11

In [108]:
# 6) How many rows of data.
df_2.shape

(918, 12)

In [ ]:
# 7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

I anticipate the cleaning is the main challenge in any dataset. So next one i predict the Modeling followed by exploring.