<center>
<img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2470/s300/cd-logo-blue-600x600.png" alt="Coding Dojo Logo" class="center" height="50">

# SQL Exercises

*Make a copy of this notebook to edit!*
```
File > Save a copy in Drive
```
    
</center>

[SQLAlchemy](https://www.sqlalchemy.org/) is a wrapper for Python that allows us to write SQL queries in Python. We will use this to practice our SQL basics in Python.

First, we need to connect to a database. We will just read a table into SQL for this step. We will be creating a [SQLite](https://sqlite.org/index.html) database and loading two tables ([table 1](https://drive.google.com/file/d/18MgOmIHHafoubgp2d_7GM6GWroxb0vPe/view?usp=sharing)  and [table 2](https://drive.google.com/file/d/1lqW6qfPXpDWsQ6yMYpZPX7brVif-v_Ra/view?usp=sharing)) into that database.

The data (from [this source](https://data.world/sikkim/school)) describes details of various schools.

In [1]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# mount data
#from google.colab import drive
#drive.mount('/content/drive')

In [3]:
filename1 = '/content/School Details(1).csv'

In [4]:
# load table 1
school = pd.read_csv(filename1)
school.head(2)

  DistrictName EstablishmentCode  ... HighestClass BoardName
0         East             S0169  ...      Class 5       NaN
1         East             S0099  ...     Class 12  C.B.S.E.

[2 rows x 30 columns]

In [5]:
school = school.rename(columns={'BACDistance (in Km)': 'BACDDistance'})

I'm changing the column name because i got errors. so thats whay i replace this name.

In [6]:
filename2 ='/content/School Facility Details.csv'

In [7]:
# load table 2
facility = pd.read_csv(filename2)
facility.head(2)

  EstablishmentCode  ... IsSportsStoreRoomAvailable
0             S1034  ...              Not Available
1             S0516  ...              Not Available

[2 rows x 11 columns]

In [8]:
# create sqlite engine
engine = create_engine('sqlite:///school.db', echo=True)
# create connection to engine
conn = engine.connect()

In [9]:
# add the dataframe as a table in sqlite
sqlite_table = "school_details"
school.to_sql(sqlite_table, conn, if_exists='fail')

sqlite_table2 = "school_facility_details"
facility.to_sql(sqlite_table2, conn, if_exists='fail')

2022-01-21 14:07:03,908 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")
2022-01-21 14:07:03,911 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-21 14:07:03,913 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_details")
2022-01-21 14:07:03,915 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-21 14:07:03,928 INFO sqlalchemy.engine.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDDistance" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2022-01-21 14:07:03,934 INFO sqlalchemy.engine.Engine [no key 0.00559s] ()
2022-01-21 14:07:03,952 INFO sqlalchemy.engine.Engine COMMIT
2022-01-21 14:07:03,953 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2022-01-21 14:07:03,955 INFO sqlalchemy.engine.Engine [no key 0.00138s] ()
2022-01-21 14:07:03,968 INFO sqlalchemy.engine.Engine COMMIT
2022-01-21 14:07:03,980 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-21 14:07:04,067 INFO sqlalchemy.engine.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDDistance", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-01-21 14:07:04,069 INFO sqlalchemy.engine.Engine [generated in 0.07460s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2022-01-21 14:07:04,095 INFO sqlalchemy.engine.Engine COMMIT
2022-01-21 14:07:04,118 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_facility_details")
2022-01-21 14:07:04,120 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-21 14:07:04,127 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_facility_details")
2022-01-21 14:07:04,129 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-21 14:07:04,134 INFO sqlalchemy.engine.Engine
CREATE TABLE school_facility_details (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)


2022-01-21 14:07:04,139 INFO sqlalchemy.engine.Engine [no key 0.00484s] ()
2022-01-21 14:07:04,154 INFO sqlalchemy.engine.Engine COMMIT
2022-01-21 14:07:04,156 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")
2022-01-21 14:07:04,157 INFO sqlalchemy.engine.Engine [no key 0.00157s] ()
2022-01-21 14:07:04,171 INFO sqlalchemy.engine.Engine COMMIT
2022-01-21 14:07:04,179 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-21 14:07:04,211 INFO sqlalchemy.engine.Engine INSERT INTO school_facility_details ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-01-21 14:07:04,212 INFO sqlalchemy.engine.Engine [generated in 0.02831s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))
2022-01-21 14:07:04,223 INFO sqlalchemy.engine.Engine COMMIT

## Aggregates

1. What is the average BACDistance (in Km)? Rename the ouptut column to "avg_bac_distance."

In [10]:
# Write your SQL query in this string
sql = 'SELECT AVG(BACDDistance) as avg_bac_distance FROM school_details'

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2022-01-21 14:07:04,251 INFO sqlalchemy.engine.Engine SELECT AVG(BACDDistance) as avg_bac_distance FROM school_details
2022-01-21 14:07:04,253 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distance
0         12.681822

## GROUP BY

2. What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.

In [11]:
# Write your SQL query in this stringSchool Level
sql = 'SELECT AVG(BACDDistance) AS avg_bacd_distance FROM School_details GROUP BY SchoolLevel ORDER BY avg_bacd_distance ASC'


# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2022-01-21 14:07:04,292 INFO sqlalchemy.engine.Engine SELECT AVG(BACDDistance) AS avg_bacd_distance FROM School_details GROUP BY SchoolLevel ORDER BY avg_bacd_distance ASC
2022-01-21 14:07:04,296 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bacd_distance
0                NaN
1           5.368421
2          10.863095
3          12.630872
4          12.830787

## Having

3. Repeat the previous query, but only display results where the average distance is at least 10 km.

In [12]:
# Write your SQL query in this string

sql = 'SELECT AVG(BACDDistance) AS avg_bacd_distance FROM School_details GROUP BY SchoolLevel HAVING AVG(BACDDistance)>10 ORDER BY avg_bacd_distance ASC'

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head(10)

2022-01-21 14:07:04,328 INFO sqlalchemy.engine.Engine SELECT AVG(BACDDistance) AS avg_bacd_distance FROM School_details GROUP BY SchoolLevel HAVING AVG(BACDDistance)>10 ORDER BY avg_bacd_distance ASC
2022-01-21 14:07:04,330 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bacd_distance
0          10.863095
1          12.630872
2          12.830787
3          13.692647

## Joins

4. Join the two tables together (school_details and school_details). Start by displaying all of the columns, but limit the resulting rows to just 2.

In [13]:
# Write your SQL query in this string
sql = 'SELECT * FROM school_details as S INNER JOIN school_facility_details as F  ON F.EstablishmentCode = S.EstablishmentCode LIMIT 2'

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2022-01-21 14:07:04,364 INFO sqlalchemy.engine.Engine SELECT * FROM school_details as S INNER JOIN school_facility_details as F  ON F.EstablishmentCode = S.EstablishmentCode LIMIT 2
2022-01-21 14:07:04,367 INFO sqlalchemy.engine.Engine [raw sql] ()

   index DistrictName  ... IsLockerForStaffAvailable IsSportsStoreRoomAvailable
0      0         East  ...             Not Available              Not Available
1      1         East  ...             Not Available                  Available

[2 rows x 43 columns]

5. Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.

In [14]:
# Write your SQL query in this string
sql = "SELECT F.EstablishmentName FROM school_details as S LEFT JOIN school_facility_details as F ON S.EstablishmentCode = F.EstablishmentCode WHERE SchoolLevel = 'PS' AND IsLibraryAvailable ='Not Available'"
# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df

2022-01-21 14:07:04,455 INFO sqlalchemy.engine.Engine SELECT F.EstablishmentName FROM school_details as S LEFT JOIN school_facility_details as F ON S.EstablishmentCode = F.EstablishmentCode WHERE SchoolLevel = 'PS' AND IsLibraryAvailable ='Not Available'
2022-01-21 14:07:04,457 INFO sqlalchemy.engine.Engine [raw sql] ()

                             EstablishmentName
0             EASWARAMMA SAI GURUKOOL ACCADEMY
1          NEW GARDEN BOARDING SCHOOL (SAJONG)
2          SARASWATI SHISHU VIDHYALAYA, BUDANG
3             SAWNEY GOVERNMENT PRIMARY SCHOOL
4       UPPER PACHAK GOVERNMENT PRIMARY SCHOOL
..                                         ...
418             TASHIDING ENGLISH SCHOOL (P.S)
419       MANGSABONG GOVERNMENT PRIMARY SCHOOL
420  MANGTABONG GOVERNMENT PRIMARY SCHOOL(SSA)
421      NEW HORIZON ACADEMY, LASSO(TASHIDING)
422            TSONG GOVERNMENT PRIMARY SCHOOL

[423 rows x 1 columns]

6. Build off the previous query, but order the results alphabetically by name.

In [18]:
# Write your SQL query in this string 
sql = "SELECT F.EstablishmentName FROM school_details as S LEFT JOIN school_facility_details as F ON S.EstablishmentCode = F.EstablishmentCode WHERE SchoolLevel = 'PS' AND IsLibraryAvailable ='Not Available' ORDER BY F.EstablishmentName ASC"

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2022-01-21 14:09:16,719 INFO sqlalchemy.engine.Engine SELECT F.EstablishmentName FROM school_details as S LEFT JOIN school_facility_details as F ON S.EstablishmentCode = F.EstablishmentCode WHERE SchoolLevel = 'PS' AND IsLibraryAvailable ='Not Available' ORDER BY F.EstablishmentName ASC
2022-01-21 14:09:16,721 INFO sqlalchemy.engine.Engine [raw sql] ()

                                   EstablishmentName
0  (I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...
1                10TH MILE GOVERNMENT PRIMARY SCHOOL
2                  AAPGAZI GOVERNMENT PRIMARY SCHOOL
3                AARUBOTEY GOVERNMENT PRIMARY SCHOOL
4              AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL

In [19]:
# Close the database connection
conn.close()